<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-general-narrow}"
		th:with="title=#{LOGIN_ADMIN_TITLE}
				, formMethod='post'">

<head>
	<meta charset="UTF-8">
</head>
<body>
	<div layout:fragment="form-content" th:remove="tag">
		<div class="row">
			<div class="mt-4">
				<div th:replace="~{bootstrap/components-input :: inputText('username', 'width=full')}"></div>
				<div th:replace="~{bootstrap/components-input :: inputPassword('password', 'width=full')}"></div>
			</div>
		</div>
		<br>
		<div style="text-align: center">
			<div th:replace="~{bootstrap/components-input :: submitButton('loginButton', #{LOGIN_BUTTON_LOGIN}, '')}"></div>
		</div>
	</div>

	<div layout:fragment="scripts" th:remove="tag">
		<div th:replace="~{bootstrap/components :: sendZoneOffset('')}"></div>
	</div>
</body>
</html>
