<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorate="~{bootstrap/page-search-list-wide}"
		th:with="
			title=#{QIITA_ITEM_LIST_TITLE},
			titleDesc=#{QIITA_ITEM_LIST_TITLE_DESC},
			needsSearchPane=true
		">

<head>
	<meta charset="UTF-8"/>
</head>
<body>
	<div layout:fragment="search-content" th:remove="tag">
		<div class="row">
			<div th:replace="~{bootstrap/components-search :: searchText('title', '')}"></div>
			<div th:replace="~{bootstrap/components-search :: searchSelectFromBoolean('isPrivate', '')}"></div>
			<div th:replace="~{bootstrap/components-search :: searchSelectFromBoolean('isSlide', '')}"></div>
		</div>
	</div>

	<div layout:fragment="list-table-header-content" th:remove="tag">
		<th th:replace="~{bootstrap/components-list :: headerSortable('title', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerSortable('likesCount', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerSortable('stocksCount', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerSortable('pageViewsCount', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerSortable('commentsCount', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerSortable('createdAt', '')}"></th>
		<th th:replace="~{bootstrap/components-list :: headerSortable('updatedAt', '')}"></th>
		<th th:replace="~{splib-web/app-parts :: listPageHeaderCommonItems}"></th>
		<th th:replace="~{bootstrap/components-list :: headerUpdateButton('')}"></th>
	</div>

	<div layout:fragment="list-table-body-content" th:remove="tag">
		<tr>
			<td th:replace="~{bootstrap/components-list :: listReadOnlyText('title', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: listReadOnlyText('likesCount', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: listReadOnlyText('stocksCount', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: listReadOnlyText('pageViewsCount', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: listReadOnlyText('commentsCount', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: listReadOnlyFixedLength('createdAt', '')}"></td>
			<td th:replace="~{bootstrap/components-list :: listReadOnlyFixedLength('updatedAt', '')}"></td>
			<td th:replace="~{splib-web/app-parts :: listPageBodyCommonItems}"></td>
			<td th:replace="~{bootstrap/components-list :: updateButton('')}"></td>
		</tr>
	</div>
</body>
</html>
