<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
  <!-- profile-independent properties -->
  <include resource="logback-spring-profile-independent-properties.xml" />

  <!-- appenders -->
  <property name="log-dir" value="/opt/batch/logs" />
  <include resource="logback-spring-appenders.xml" />
  <include resource="logback-spring-appenders-batch.xml" />

  <!-- loggers -->
  <property name="loglevel-jp.ecuacion" value="INFO" />
  <property name="loglevel-security" value="INFO" />
  <property name="loglevel-sql" value="INFO" />
  <property name="loglevel-root" value="INFO" />
  <include resource="logback-spring-loggers-for-server.xml" />
  <include resource="logback-spring-loggers-batch-for-server.xml" />
</configuration>
